server:
  port: 8087

spring:
  application:
    name: administracion-service

  datasource:
    url: jdbc:postgresql://localhost:5432/administraciondb
    username: postgres
    password: tu_contraseña_aqui
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  config:
    import: optional:configserver:http://localhost:8888

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
